<<<<<<< HEAD
<h2><%= @author.name %></h2>
<%= link_to "edit", edit_author_path(@author) %>
<a href="mailto:<%= @author.email %>"><%= @author.email %></a>
=======
<h2><%= @author.name %></h2>
<%= link_to "edit", edit_author_path(@author) %>
<a href="mailto:<%= @author.email %>"><%= @author.email %></a>
>>>>>>> 8f38e3dd98dc18c1a25df46bd294a44e65f3cd1f
